%html
	%head
		%title MBTA
		%meta{:name => "viewport", :content =>"width=device-width, initial-scale=1"}
		%link{:type => "text/css", :href => 'css/bootstrap.min.css', :rel => "stylesheet"}
		%link{:type => "text/css", :href => 'css/style.css', :rel => "stylesheet"}
		%script{:src => 'js/jquery.min.js'}
		%script{:src => 'js/update.js'}
	%body
		.container
			.row
				.col-md-12.col-xs-12.col-sm-12
					=styled_flash

					#content
						%h1{:style => "text-align:center;"}MBTA North/South Station Times
						%hr
						-departures.keys.each do |dep|
							.table-responsive
								%h2{:style => "text-align:center;"}=dep
								%table{:class => "table table-striped departure-table"}
									%thead
										%tr
											/ %th Timestamp
											%th Scheduled Time
											%th Trip
											%th Destination
											/ %th Origin
											%th Lateness 
											%th Track #
											%th Status
									%tbody
										- departures[dep].each do |d|
											%tr{:class => "trip", :value => "#{d.trip}"}
												/ %td=d.timestamp
												%td{:class => "scheduled_time"}=d.scheduled_time
												%td{:class => "trip_id"}=d.trip
												%td{:class => "destination"}=d.destination
												/ %td{:class => "origin"}=d.origin
												%td{:class => "lateness"}=d.lateness
												%td{:class => "track"}=d.track
												%td{:class => "status"}
													- case d.status
														-when 'On Time'
															%span{:class => "label label-success mbta-label"}On Time
														-when 'Now Boarding', 'All Aboard'
															/ %td{:class => "status"}
															%span{:class => "label label-primary mbta-label"}Now Boarding
														-when 'Cancelled'
															/ %td{:class => "status"}
															%span{:class => "label label-danger mbta-label"}Cancelled
														-when 'Delayed'
															/ %td{:class => "status"}
															%span{:class => "label label-warning mbta-label"}Delayed
														- when 'Arriving', 'Arrived'
															/ %td{:class => "status"}
															%span{:class => "label label-info mbta-label"}Arriving			
														- when 'Departed'
															/ %td{:class => "status"}
															%span{:class => "label label-default mbta-label"}Departed
														- else
															/ %td{:class => "status"}
															%span{:class => "label label-default mbta-label"}=d.status					
								%hr								
												
					
						%footer{:style =>"margin-top:20px; text-align:center;"} Copyright 2016 Mario Barrenechea, All Rights Reserved.